<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Registration</title>
</head>
<body>

<h3>Registered Students</h3>
<hr>
<a href="/add">Add</a>
<table border="1">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Course</th>
        <th>Action</th>
    </tr>
    <tr th:each="tempStudent : ${students}">
        <td th:text="${tempStudent.id}"></td>
        <td th:text="${tempStudent.name}"></td>
        <td th:text="${tempStudent.email}"></td>
        <td th:text="${tempStudent.course}"></td>
        <td>
            <a href="@{/edit(id=${tempStudent.id})}">Edit</a>
            <a href="@{/delete(id=${tempStudent.id})}">Delete</a>
        </td>
    </tr>
</table>

</body>
</html>