<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add New Student</title>
</head>
<body>
<h3>Add Student</h3>
<hr>
<form th:action="@{/addstudent}" th:object="${student}" method="post">
    Name : <input type="text" th:field="${student.name}">
    <br>
    Email : <input type="text" th:field="${student.email}">
    <br>
    Course : <input type="text" th:field="${student.course}">
    <br>
    <input type="submit" value="Submit">
</form>

<a href="/students">Back</a>

</body>
</html>